.BuildControl{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Button{
    height: 30px;
    width: 40px;
    justify-content: center;
    background-color: #621700;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 0;
    font-size: 20px;
    border:0
}

.Button:hover{
    background-color: white;
    color: #621700;
    cursor: pointer;
}

.BuildCaption{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00aa00;
    width:70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}