.Hoc{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 390px;
    align-items: center;
}

.Sortable{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    align-items: center;
    padding: 0px;
}